html{
    display: flex;
    font-family: 'IM Fell English SC', serif;
    padding: 0vh;
    margin: 0vh;
    background: rgba(81, 108, 54, 0.845);
    
    
}

body{
    background: url('css/img/jungle.jpeg');
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    display: flex;
    flex-direction: column;
    height: 98vh;
    width: 205vh;
    justify-content: center;
    justify-self: center;
}
#gameIntroToo{
    
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    align-self: center;
    justify-self: center;
}
#gameIntro{
    display: flex;
    min-width: 100vh;
    margin-left: 2vh;
    height: 10vh;
    justify-self: center;
    align-items: center;
    justify-content: space-evenly;
   border: 2px solid black;
   border-radius: 10px;
   background: rgba(192, 222, 125, 0.646);
}

#player, #difficulty,#selSub, #start{
    color:black;
    border:2px solid black;
    border-radius: 3px;
    background: rgba(100, 133, 29, 0.646);
    font-family: 'IM Fell English SC', serif;
    font-size: 18px;
}

#GameRules{
    margin: 5vh 5vh 4vh 5vh;
    border:2px solid black;
    border-radius: 5px;
    display: flex;
    flex-direction: column;
    background: rgba(109, 128, 71, 0.721);
    align-items: center;
    width: 100vh;
    justify-self: center;
    font-size: 25px;
}

#GameRules h1{
    text-shadow:2px 2px rgb(6, 79, 6);
}

#selSub{
    font-family: 'IM Fell English SC', serif; 
}



#rules{
    
    font-size: x-large;
    list-style: none;
    display: flex;
    flex-direction: column;
    align-content: space-between;
}

#gameChuck{
   
    /* display: flex;
   
    align-items: center; */
}

#game{
    display: none;

    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    height: 83vh;
    display: none;
     
    justify-content:center
}

#mrHangMan{
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    max-width: 191vh;
    height: 55vh;
    
    padding: 2vh;
}

#hangmanPlayer{

    border-radius: 2px;
    border:2px solid black;
    background: rgba(255, 255, 255, 0.495);
    display: flex;
   font-size: 40px;
   text-shadow: 2px 2px white;
    color: black;
    align-items: center;
   
    align-self: center;

}

#myCanvas{
    
    background: none;
    width:90vh;
    height: 70vh;
}

#alphabet{
    border-radius: 2vh;
    background: rgba(255, 255, 255, 0.749);
    margin-right: 1vh;

    min-width: 10vh;
    height: 12vh;
    position: absolute;
    bottom: 4vh;
    display: flex;
    flex-wrap: wrap;
    justify-content:center;
    align-content: center;
    padding-left: 0vh;
    padding-right: 1vh;
    
    
}
.buttons{
    box-shadow: 2px 2px black;
    font-family: 'IM Fell English SC', serif;
    font-size: x-large;
    margin-left: 2vh;
    height: 5vh;
    width: 5vh;

}

#hint{
    margin-top: 2vh;
    display: flex;
    width:10vh;
    height: 3vh;
    margin-bottom: 2vh;
    font-size: 2vh;
    align-items: center;
    justify-content: center;
}
#hint1{
    height: 10vh;
    padding-left: 5vh;
    padding-right: 5vh;
    background: rgba(255, 255, 255, 0.639);
    border-radius: 1vh;
    border: 1px solid black;
    display: flex ;
    align-items: center;
    justify-content: space-between;
}

#winOrLose{
    font-size: 30px;
    text-shadow:2px 1px rgb(10, 91, 10);
    text-justify: center;
}

#word{
    display: flex;
    justify-content: space-evenly;
    
    position: fixed;
    justify-self: center;
    bottom: 20vh;
    width: 95vh;
    padding: 1vh;
}
.backGr{
    box-shadow:2px 2px rgba(0, 0, 0, 0.666);
    border:3px solid black;
    border-radius: 1vh;
    display: flex;
    align-items: center;
    justify-content: center;
    background:rgba(255, 255, 255, 0.598) ;
  
   height: 7vh;
   width: 7vh;

}
.letter{
    display: none;
    align-items: center;
    justify-content: center;
    text-transform: uppercase;
    height: 7vh;
    width: 7vh;
}

/* Body Parts */ 

.bodyParts{
    display: none;
}

#headPic{
    
    position: absolute;
    left: 0vh;
    top: 25.3vh;
    width: 7vh;
    height: 7vh;
    background: cornsilk;
}

#bodyPic{
    position: absolute;
    top:32vh;
    
    
    
    width: 10vh;
    height: 15vh;
    background: cornsilk;
}

#rightArmPic{
    position: absolute;
    top:32vh;
    width: 7.5vh;
    height: 6vh;
}


#leftArmPic{
    
    position: absolute;
    top:32.3vh;
    width: 8vh;
    height: 6vh;
}
    
#leftLegPic{
        
        position: absolute;
        top:47vh;
        width: 5.7vh;
        height: 14vh;
}
        
#RightLegPic{
            
            position: absolute;
            top:47vh;
            width: 10vh;
            height: 14vh;}
            
#chuckSays{
       
        align-items: center;
        text-align: center;
        min-width: 90vw;
        overflow: scroll;
        scroll-behavior: smooth;
        scrollbar-width: 0;
        font-size: 20px;
        padding-left: 1vh;
        padding-right: 1vh;
        display: none;
        background: rgba(255, 255, 255, 0.742);
        margin-left: 1.5vh;
        margin-right: 1.5vh;
        /* bottom: 29.2vh; */
        height: 9vh;
        border-radius: 1vh;
        border: 1px solid black;
}